/* General CSS Topics */
/* global pseudo-classes */
:root {
    --main_bg_color: #1e90ff;
}

/* minites header */
.minutes-header {
    background-color: rgb(173, 216, 230);
    background-color: var(--main_bg_color, #4682b4);
    border-radius: 20px;
    font-size: 1rem;
}

.minutes-header h1 {
    display: inline;
    background-color: lightgoldenrodyellow;
    border-radius: 12px;
}
.minutes-header h3 {
    color: darkslategray;
    position: relative;
}

.minutes-nav a:hover {
    text-decoration: rgb(124, 235, 124) wavy underline;
    color: rgb(239, 224, 96);
}
.attendees ul {
    background-color: #b7ddfe;
    display: inline-block;
    border-radius: 10px;
    align-items: center;
}

.absentees ul {
    background-color: hsl(164, 55%, 68%);
    display: inline-block;
    position: static;
    border-radius: 10px;
}

.minutes-agenda {
    color: rgb(0, 0, 128);
    padding: 1.5em;
}

/* img + video section*/
.image-section img{
    width: 50%;
    height: 8in;
    margin: 15px auto 30px auto;
    max-width: 100%;
}
.video-section {
    background-color: color(display-p3 0.3 0.5 0.9);
    padding: 10px 20px 20px 20px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    margin: auto;
}

.audio {
    display: flex;
    margin: 15px auto 0 auto;

}

/* form section*/
.form-section {
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;

    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;

    border-style: solid;
    border-color: darkslateblue;
    border-width: 3px;
    border-radius: 8px;

    min-width: 300px;
}

.form-group {
    font-size: 13pt;
}

/*submission button*/
#submission {
    background-color: color-mix(in srgb, rgb(43, 98, 160) 60%, red 40%);
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

#submission:active {
    background-color: orange;
    color: white;
}

#footer {
    color: white;
    background-color: teal;
    text-align: center;
}